@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    button{
        background: none;
        cursor: pointer;
    }
}

:root{
    --primary: #1976d2;
    --body: #fff;
    --text-menu:#fff;
    --text-body:#4b4b4b;
}

:root .dark-theme{
    --primary: #0d47a1;
    --body: #4b4b4b;
    --text-menu:#fff;
    --text-body:#fff;
}

body{
    background-color: var(--body);
}